
.data {
  font-weight: bold;
  text-align: center;
}
.main_content {
    width: 100%;
    height: 900px;
    margin-top: 20px;
}

.main_title {
  text-align: center;
  font-family: Comic Sans;
}
.main_text {
  margin-top: 20%;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  font-family: serif;
  display: block;
}
.header {
display: flex;
justify-content: space-between;
}

.header div {
    background-color: grey;
    width: 32%;
    height: 200px;
}

.div_img {
  
  width: 100%;
  height: 100%;
}

.main {
   display: block;
    width: 100%;
    margin: 5px auto;
    background-color: grey;
    height: 540px;
}
.main img {
  width: 100%;
  height: 100%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 99%;
  position: relative;
  margin:  0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

.slider_img {
  width: 380px;
  height: 540px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer {
  width: 100%;
  height: 40px;
  background-color: grey;
  margin: 0;
  padding: 0;
}
